<footer>
  <div class="cta container-fluid" id="contact">

    <a href="https://www.facebook.com/anikesh.sinha.52/" target="_blank"><i class="fab fa-facebook-f footerIcons"></i></a>

    <a href="https://twitter.com/I_m_Anikesh" target="_blank"><i class="fab fa-twitter footerIcons"></i></a>

    <a href="https://www.linkedin.com/in/aniks0498" target="_blank"><i class="fab fa-linkedin-in footerIcons"></i></a>

    <a href="https://github.com/AnikS0498" target="_blank"><i class="fab fa-github footerIcons"></i></a>

    <a href="https://www.instagram.com/_anikesh/" target="_blank"><i class="fab fa-instagram footerIcons"></i></a>

    <p><i class="far fa-copyright copyrightIcon"></i>Copyright 2021 Anikesh Sinha</p>
  </div>
</footer>
</body>

</html>
